resources:
  - namespace.yaml

apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

helmCharts:
- name: harbor
  repo: https://helm.goharbor.io
  releaseName: harbor
  namespace: harbor
  valuesFile: values.yaml